# Binary artifacts
*.so binary
*.scp binary
*.bin binary
*.dat binary
*.navmesh binary
*.npz binary

# Large generated reverse-engineering outputs
recovered/analysis/il2cpp/dump.cs linguist-generated=true
recovered/analysis/il2cpp/script.json -diff linguist-generated=true
recovered/analysis/il2cpp/stringliteral.json -diff linguist-generated=true
